<%= form_for(newspaper) do |f| %>
	<p>
		<%= f.label :title %>
		<%= f.text_field :title %>
	<p>

	<p>
		<%= f.label :editor %>
		<%= f.text_field :editor %>
	<p>

	<% unless newspaper.persisted? %>
		<div class= "well">
		<%= f.fields_for :subscription_plans do |subscription_plan| %>
			<p>
				<%= subscription_plan.label :weekly, "Subscription Type" %>
				<%= subscription_plan.select :weekly, [['weekly', true], ['daily', false]] %>
			</p>
			<p>
				<%= subscription_plan.label :price %>
				<%= subscription_plan.text_field :price %>
			</p>
		<% end %>
		</div>
	<% end %>

	<p>
		<%= f.submit newspaper.persisted? ? "Update Newspaper" : "Create Newspaper" %>
	</p>
<% end %>